.masthead-intro,
.masthead-heading{
    text-align: center;
}

.masthead{
    padding: 6em 0;
}

.masthead-deading{
    margin-bottom: 0.1em;
}

.masthead-intro{
    margin-top: -0.2em;
}

h1{
    font-family: cursive;
    font-size: 32px;
}

.info h2{
    text-align: center;
}

.info h3{
    text-align: center;
}

.info {
    float: left;
    width: 30%;
    margin-left: 30px;
}